@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

textarea:focus {
	outline: none;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@layer utilities {
	.scrollbar-custom {
		@apply overflow-y-auto; /* Добавляем прокрутку */
	}

	.scrollbar-custom::-webkit-scrollbar {
		@apply w-[15px];
	}

	.scrollbar-custom::-webkit-scrollbar-thumb {
		@apply w-[11px] bg-background-primary rounded-lg border-[2px] border-solid border-text-primary /* Ползунок с закругленными углами */;
	}

	.scrollbar-custom::-webkit-scrollbar-track {
		@apply bg-text-primary rounded-lg; /* Цвет дорожки прокрутки */
	}

	.loader {
		@apply w-[30px] h-[30px] rounded-full;
		border: 4px solid rgba(0, 0, 0, 0.1);
		border-top-color: #66fcf1; /* Цвет индикатора */
		animation: spin 1s linear infinite;
	}
}
